<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lí sản phẩm</title>
</head>
<body>
<div layout:fragment="content">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">Danh sách sản phẩm</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a th:href="@{/admin}">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Danh sách sản phẩm</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->
    <span class="d-none" id="messageSuccess" th:text="${message}"></span>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <div class="search-box me-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-sm-end">
                                <a th:href="@{/admin/product/add}" type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"><i class="mdi mdi-plus me-1"></i> Thêm mới</a>
                            </div>
                        </div><!-- end col-->
                    </div>

                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap table-check">
                            <thead class="table-light">
                            <tr>
                                <th class="align-middle">ID</th>
                                <th class="align-middle">Name</th>
                                <th class="align-middle">Description</th>
                                <th class="align-middle">Stock</th>
                                <th class="align-middle">Price</th>
                                <th class="align-middle">Category</th>
                                <th class="align-middle">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product: ${products}">
                                <td><a class="text-body fw-bold">#<span th:text="${product.id}"></span></a> </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded" th:src="@{${product.imagesPath}}" style="max-width: 60px" alt="">
                                        <h6 class="m-b-0 m-l-10" th:text="${product.name}"></h6>
                                    </div>
                                </td>
                                <td th:text="${product.description}"></td>
                                <td><span th:text="${product.quantity_in_stock}"></span> kg</td>
                                <td><span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}"></span> VNĐ</td>
                                <td th:text="${product.category.name}"></td>
                                <td>
                                    <div class="d-flex gap-3">
                                        <a th:href="@{/admin/product/edit/{id}(id=${product.id})}" title="Edit" class="text-success"><i class="mdi mdi-pencil font-size-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger"><i class="mdi mdi-delete font-size-18"></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if = "${totalPages > 1}">
                        <div class = "row col-sm-11">
                            <div class = "col-sm-2">
                                Total Items: [[${totalItems}]]
                            </div>
                            <div class = "col-sm-2">
					            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                    <a th:if="${currentPage != i}" th:href="@{'/admin/product/page/' + ${i}}">[[${i}]]</a>
						        <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					            </span>
                            </div>
                            <div class = "col-sm-1">
                                <a th:if="${currentPage < totalPages}" th:href="@{'/admin/product/page/' + ${currentPage + 1}}">Next</a>
                                <span th:unless="${currentPage < totalPages}">Next</span>
                            </div>

                            <div class="col-sm-1">
                                <a th:if="${currentPage < totalPages}" th:href="@{'/admin/product/page/' + ${totalPages}}">Last</a>
                                <span th:unless="${currentPage < totalPages}">Last</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            var message = $('#messageSuccess').text();
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
            }
            if (message !== '') {
                toastr.success(message);
            }
        });
    </script>
</div>

</body>
</html>