<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add new category</title>
</head>
<body>
<div layout:fragment="content">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-sm-flex align-items-center justify-content-between">
        <h4 class="mb-sm-0 font-size-18">Add Category</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a th:href="@{/admin/category}">Danh sách loại sản phẩm</a></li>
            <li class="breadcrumb-item active">Thêm mới</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Thông tin các loại sản phẩm</h4>
        </div>
        <div class="card-body">
          <form th:action="@{/admin/category/add}" th:object="${category}" method="post">
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3">
                  <label for="manufacturername">Name</label>
                  <input th:field="*{name}" id="manufacturername" name="manufacturername" type="text" class="form-control">
                  <div style="text-align: left; margin-top: 13px">
                    <span class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="mb-3">
                  <label for="productdesc">Description</label>
                  <textarea th:field="*{description}" class="form-control" id="productdesc" rows="5"></textarea>
                  <div style="text-align: left; margin-top: 13px">
                    <span class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex flex-wrap gap-2">
              <input type="submit" value="Save Changes" class="btn btn-primary waves-effect waves-light">
              <a th:href="@{/admin/category}" type="button" class="btn btn-secondary waves-effect waves-light">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

</body>
</html>